<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c2df8a6f-f22f-4b0e-9fdd-a23083d20520/resourceGroups/EmployeesApp/providers/Microsoft.Web/sites/EmployeesApp</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://employeesapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>employeesapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EmployeesApp</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EmployeesApp</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>